/01Data/Houston_MarineHeatWave_2016
/01Data/Houston_MarineHeatWave_2017
/03ProcessedData/HourlyMeans_2016_021025.csv
/03ProcessedData/HourlyMeans_2017_021025.csv
*.rds
/01Data/Houston_MarineHeatWave_2017_climavg
03ProcessedData/HourlyMeans_2016_042225.csv
03ProcessedData/HourlyMeans_2017_042225.csv
03ProcessedData/HourlyMeans_2017_climavg_042225.csv
/01Data/Houston_MarineHeatwave_2017_w16SST
/01Data/SST
03ProcessedData/HourlyMeans_2017_w16SST_042225.csv
03ProcessedData/HourlyMeans_2017_w16SST_051325.csv
03ProcessedData/HourlyMeans_2017_051325.csv
/03ProcessedData
02Code/DataAnalysis/.RData
02Code/DataAnalysis/.RDataTmp
